[Desktop Entry]
Type=Application
Name=KaraFun
Comment=Your karaoke party, easy!
Exec=karafun %U
Icon=com.recisio.karafun-premium
Terminal=false
Categories=AudioVideo;Audio;Video;Game;
MimeType=x-scheme-handler/karafun;
StartupWMClass=KaraFun
